button {
    position: fixed;
    bottom: 47px;
    right: 24px;
    font-size: 24px;
    text-align: center;
    outline: none;
    width: 53px;
    height: 45px;
    background: #b3222f;
    border-radius: 0px;
    i {
    color: white;
    }
  }