.followUs {
  .social {
    display: flex;
    justify-content: center;
    padding: 0%;

    li {
      color: white;
      list-style-type: none;
      cursor: pointer;
      margin-top: 10px;
      font-size: 1.7em;
      padding-left: 21px;
    }


  }

  .fa-facebook {
    background-color: rgb(59, 89, 152);
    padding: 8px;
    border-radius: 3px;
  }

  .fa-twitter {
    background-color: rgb(20, 23, 26);
    padding: 8px;
    border-radius: 3px;
  }

  .fa-google {
    background-color: #ea4335;
    padding: 8px;
    border-radius: 3px;
  }

  .fa-youtube {
    background-color: #ff0000;
    padding: 8px;
    border-radius: 3px;
  }

  .fa-linkedin {
    background-color: #0a66c2;
    padding: 8px;
    border-radius: 3px;
  }

}

@media only screen and (max-width : 992px) {
  .followUs {
    li {

      font-size: 1em !important;
      padding-left: 7px !important;
    }

  }
}
