<div class="container">
  <!--title Row-->
  <div class="row">
    <div class="col-md-12">
      <div class="title">
        <h2 class="text-center">latest News</h2>
      </div>
    </div>
  </div>
  <!--Left & Right Row-->
  <div class="row">
    <!--Left Side Component-->
    <div class="col-md-8">
      <app-leftside-components></app-leftside-components>
    </div>
    <!--Right Side Component-->
    <div class="col-md-4">
      <app-rightside-components></app-rightside-components>
    </div>
  </div>
<!--Bottom row-->
<div class="row">
  <div class="col-md-12">
    <app-trending-component></app-trending-component>
  </div>
</div>
</div>
