.details {

  .title {
    margin: 50px 0px;

    h2 {
      font-size: 2.6em;
      line-height: 1.4;
    }
  }

  i {
    padding-right: 5px;
  }



  .content {
    button.btn.btn-gray {
      background-color: #c3c3c3;
      margin-left: 13px;
    }

    .btn {
      font-size: 14px;
    }

    .des {
      margin: 19px 0px;
      font-size: 20px;
    }

  }

  p {
    overflow-wrap: anywhere;

  }
}

@media only screen and (max-width : 992px) {
  .details {
    .title {
      h2 {
        font-size: 1.7em !important;
      }
    }

    .content {
      img {
        margin-top: 10px !important;
      }

      .buttons {
        .btn {
          display: block;
          width: 100%;
        }

        button.btn.btn-gray {
          margin-left: 0px;
          margin-top: 6px !important;
        }
      }
    }


    .comments {
      img {
        width: 50% !important;
        margin: auto;
        display: block;
        margin-bottom: 8px;
      }

      h5 {
        text-align: center;
        display: block;
      }

      small {
        text-align: center;
        display: block;
      }
    }
  }

}
