.RecentPosts {
  font-size: 14px;

  p {
      font-weight: 600;
  }

  h4.text-color {
      padding-bottom: 10px;
  }

  .img-fluid {
    max-width: 100%;
    border: 1px solid #B3222F;
    height: 75px;
    padding: 4px;
  }

}
