.MostPopular {
  h4.text-color {
    padding-bottom: 10px;
  }

  p {
    font-weight: 600;
    font-size: 14px;

  }

  span.index {
    font-size: 13px;
    background: #B3222F;
    width: 20px;
    text-align: center;
    height: 20px;
    color: white;
    margin-right: 6px;
    margin-top: 4px;
  }
}
